tensorflow==2.15.1
tf-keras==2.15.0
torch==2.9.1
torchvision==0.24.1
torchaudio==2.9.1
numpy==1.26.4
pandas==2.1.4
scikit-learn==1.7.2
scipy==1.11.4
matplotlib==3.8.4
joblib==1.5.2
Flask==3.1.2
flask-cors==6.0.1
Flask-PyMongo==3.0.1
streamlit
opencv-python
Pillow==12.0.0
transformers==4.36.2
sentence-transformers==2.7.0
faiss-cpu==1.13.1
rank-bm25==0.2.2
nltk==3.9.2
spacy==3.8.11
openai-whisper
deep-translator==1.11.4
langdetect
pymongo==4.15.4
requests==2.32.5
python-dotenv==1.2.1
uvicorn==0.38.0